<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
    <head th:fragment="head">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/fontawesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{Plantilla.titulo}">Titulo</h1>
            
        </header>
        
        <footer th:fragment="footer">
            <div>
                <br/>
                <a th:href="@{/(lang=es)}">ES<a/> |
                    <a th:href="@{/(lang=en)}">EN<a/> |
                        <span>[[#{Plantilla.pie-pagina}]]</span>
                        
                        <form method="POST" th:action="@{/logout}" >
                            <b>User:</b> <span sec:authentication="name">Usuario que hizo login</span> |
                            <b>Roles:</b> <span sec:authentication="principal.authorities">Roles</span> |
                            <a href="#" onclick="this.parentNode.submit();">Logout</a>
                        </form>
                        
                        </div>
        </footer>
        
    </body>
</html>
