<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{Plantilla.titulo}">Titulo</h1>
            
        </header>
        
        <footer th:fragment="footer">
            <div>
                <br/>
                <a th:href="@{/(lang=es)}">ES<a/> |
                    <a th:href="@{/(lang=en)}">EN<a/> |
                        <span>[[#{Plantilla.pie-pagina}]]</span>
                        </div>
        </footer>
        
    </body>
</html>
