<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/Plantilla :: header"/>
        <a th:href="@{/agregar}">[[#{Persona.crear}]]</a>
        <div th:if="${personas != null and !personas.empty}">

            <table border="1">
                <tr>
                    
                    <th>[[#{Persona.nombre}]]</th>
                    <th>[[#{Persona.apellido}]]</th>
                    <th>[[#{Persona.email}]]</th>
                    <th>[[#{Persona.telefono}]]</th>
                    <th>[[#{accion.editar}]]</th>
                    <th>[[#{accion.eliminar}]]</th>

                </tr>
                <tr th:each="persona: ${personas}">
                    <td th:text="${persona.nombre}">Mostrar nombre</td>

                    <td th:text="${persona.apellido}">Mostrar apellido</td>

                    <td th:text="${persona.email}">Mostrar email</td>

                    <td th:text="${persona.telefono}">Mostrar telefono</td>

                    <!---Path Variable--->
                    <td><a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"/></td> 

                    <!-- <td><a th:href="@{/eliminar/} + ${persona.idPersona}" th:text="Eliminar"/></td> -->


                    <td><a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
         <div th:if="${personas == null or personas.empty}">
            [[#{Persona.lista-vacia}]]
        </div>

        
        <footer th:replace="layout/Plantilla :: footer"/>
    </body>
</html>
